{% extends 'base.html' %}

{% block chart-insert %}
<!-- Following is Equity chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Equity');

      {% for year, Equity in Equitylist %}
        data.addRow(['{{ year }}', {{ Equity }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Equity Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Equity_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Reserves chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Reserves');

      {% for year, Reserves in Reserveslist %}
        data.addRow(['{{ year }}', {{ Reserves }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Reserves Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Reserves_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Borrowings chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Borrowings');

      {% for year, Borrowings in Borrowingslist %}
        data.addRow(['{{ year }}', {{ Borrowings }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Borrowings Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Borrowings_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Debt Growth chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Debt Growth');

      {% for year, Debt_Growth in DGlist %}
        data.addRow(['{{ year }}', {{ Debt_Growth }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Debt Growth',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
            colors: ["red"],
        };

      var chart = new google.visualization.LineChart(document.getElementById('Debt_Growth_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Debt 5yr CAGR chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Debt CAGR');

      {% for year, Debt_CAGR in DCAGRlist %}
        data.addRow(['{{ year }}', {{ Debt_CAGR }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Borrowings (5yr CAGR)',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
            colors: ["red"],
        };

      var chart = new google.visualization.LineChart(document.getElementById('5yr_Debt_CAGR_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Other Liabilities chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Other Liabilities');

      {% for year, OL in OLlist %}
        data.addRow(['{{ year }}', {{ OL }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Other Liabilities Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Other_Liabilities_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Payables chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Payables');

      {% for year, Payables in Payableslist %}
        data.addRow(['{{ year }}', {{ Payables }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Trade Payables Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Payables_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Total Liabilities chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Total Liabilities');

      {% for year, TL in TLlist %}
        data.addRow(['{{ year }}', {{ TL }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Total Liabilities Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Total_Liabilities_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Fixed Assets chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Fixed Assets');

      {% for year, FA in FAlist %}
        data.addRow(['{{ year }}', {{ FA }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Fixed Assets Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Fixed_Assets_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Investments chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Investments');

      {% for year, Investments in Investmentslist %}
        data.addRow(['{{ year }}', {{ Investments }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Investments Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Investments_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Other Assets chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Other Assets');

      {% for year, OA in OAlist %}
        data.addRow(['{{ year }}', {{ OA }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Other Assets Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Other_Assets_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Inventories chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Inventories');

      {% for year, Inventories in Inventorieslist %}
        data.addRow(['{{ year }}', {{ Inventories }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Inventories Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["yellow"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Inventories_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Receivables chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Receivables');

      {% for year, Receivables in Receivableslist %}
        data.addRow(['{{ year }}', {{ Receivables }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Receivables Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["maroon"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Receivables_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Cash chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Cash');

      {% for year, Cash in Cashlist %}
        data.addRow(['{{ year }}', {{ Cash }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Cash Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Cash_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Loans and Advances chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Loans');

      {% for year, Loans in Loanslist %}
        data.addRow(['{{ year }}', {{ Loans }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Loans and Advances Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["maroon"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Loans_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is ETC Assets chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Etc Assets');

      {% for year, Etc in Etclist %}
        data.addRow(['{{ year }}', {{ Etc }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Etc Assets Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Etc_Assets_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Total Assets chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Total Assets');

      {% for year, TA in TAlist %}
        data.addRow(['{{ year }}', {{ TA }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Total Assets Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Total_Assets_chart"));
      chart.draw(view, options);
  }
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-md">
      <div id="Equity_chart" style="height: 500px;"></div>
    </div>
    <div class="col-md">
      <div id="Reserves_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4">
      <div id="Borrowings_chart" style="height: 500px;"></div>
    </div>
    <div class="col-md-4">
      <div id="Debt_Growth_chart" style="height: 500px;"></div>
    </div>
    <div class="col-md-4">
      <div id="5yr_Debt_CAGR_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-4">
      <div id="Other_Liabilities_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Payables_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Total_Liabilities_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-4">
      <div id="Fixed_Assets_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Investments_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Other_Assets_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div id="Inventories_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div id="Receivables_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-4">
      <div id="Cash_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Loans_chart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-4">
      <div id="Etc_Assets_chart" style="height: 500px;"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg">
      <div id="Total_Assets_chart" style="height: 500px;"></div>
    </div>
  </div>
</div>
{% endblock %}