<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>

    {% block chart-insert %}
    {% endblock %}

</head>
<body>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="form-group col-lg-6">
        <form role="form" method="POST" action="/StockAnalyzer/"> {% csrf_token %}
                    <label for="URL">URL</label>
                    <input name="URL" id="URL" type="text" class="form-control" placeholder="https://Screener.in/company/TCS/"/>
                    <label for="Ticker">Ticker</label>
                    <input name="Ticker" id="Ticker" type="text" class="form-control" placeholder="NSE:TCS"/>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
    </div>

    <div class="row mb-4">
        <ul class="nav nav-pills">
            <li> <a href="/StockAnalyzer/income" class="btn btn-primary mx-4">Income</a> </li>
            <li> <a href="/StockAnalyzer/quarter" class="btn btn-primary mx-4">Quarter</a> </li>
            <li> <a href="/StockAnalyzer/cashflow" class="btn btn-primary mx-4">Cash Flow</a> </li>
            <li> <a href="/StockAnalyzer/balancesheet" class="btn btn-primary mx-4">Balance Sheet</a> </li>
            <li> <a href="/StockAnalyzer/dividend" class="btn btn-primary mx-4">Dividend</a> </li>
            <li> <a href="/StockAnalyzer/ratios" class="btn btn-primary mx-4">Ratios</a> </li>
            <li> <a href="/StockAnalyzer/price" class="btn btn-primary mx-4">Price</a> </li>
        </ul>
    </div>

    <div class="row mb-4">
        <h1 class="text-success text-center text-nowrap text-capitalize "> Analyzing: {{ dict.title }} </h1>
    </div>
</div>

    {% block content %}
    <p>Analyzing {{ dict.title }}</p>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>