{% extends 'base.html' %}

{% block chart-insert %}
<!-- Following is CFO chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFO');

      {% for year, CFO in CFOlist %}
        data.addRow(['{{ year }}', {{ CFO }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "CFO Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["yellow"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("CFO_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is CFI chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFI');

      {% for year, CFI in CFIlist %}
        data.addRow(['{{ year }}', {{ CFI }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "CFI Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["cyan"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("CFI_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is CFF chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFF');

      {% for year, CFF in CFFlist %}
        data.addRow(['{{ year }}', {{ CFF }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "CFF Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["magenta"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("CFF_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is CFPS chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFPS');

      {% for year, CFPS in CFPSlist %}
        data.addRow(['{{ year }}', {{ CFPS }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "CFPS Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["gold"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("CFPS_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is CFO Growth chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFO Growth');

      {% for year, CFO_Growth in CFOGrowthlist %}
        data.addRow(['{{ year }}', {{ CFO_Growth }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Company Performance',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('CFO_growth_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is CFO 5yr CAGR chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFO CAGR');

      {% for year, CFO_CAGR in CFOCAGRlist %}
        data.addRow(['{{ year }}', {{ CFO_CAGR }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Company Performance (5yr CAGR)',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('5yr_CFO_CAGR_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Earnings Quality chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'CFO/PAT');

      {% for year, CFO_to_PAT in CFOtoPATlist %}
        data.addRow(['{{ year }}', {{ CFO_to_PAT }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Earnings Quality Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("CFO_to_PAT_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Profit from Ops chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Profit_From_Ops');

      {% for year, Profit_From_Ops in ProfitFromOpslist %}
        data.addRow(['{{ year }}', {{ Profit_From_Ops }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Profit From Operations Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Profit_From_Ops_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Working Capital Changes chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Working Capital Changes');

      {% for year, WCC in WCClist %}
        data.addRow(['{{ year }}', {{ WCC }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Working Capital Changes Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("WCC_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Taxes Paid chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Taxes Paid');

      {% for year, Taxes_Paid in TPlist %}
        data.addRow(['{{ year }}', {{ Taxes_Paid }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Taxes Paid Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Taxes_Paid_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Fixed Assets Purchased chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Fixed Assets Purchased');

      {% for year, FAP in FAPlist %}
        data.addRow(['{{ year }}', {{ FAP }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Fixed Assets Purchased Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Fixed_Assets_Purchased_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Fixed Assets Sold chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Fixed Assets Sold');

      {% for year, FAS in FASlist %}
        data.addRow(['{{ year }}', {{ FAS }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Fixed Assets Sold Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Fixed_Assets_Sold_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Fixed Assets Purchased chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Investments Purchased');

      {% for year, IP in IPlist %}
        data.addRow(['{{ year }}', {{ IP }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Investments Purchased Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Investments_Purchased_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Fixed Assets Sold chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Investments Sold');

      {% for year, IS in ISlist %}
        data.addRow(['{{ year }}', {{ IS }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Investments Sold Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Investments_Sold_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Proceeds from Borrowings chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Proceeds from Borrowings');

      {% for year, BT in BorrowingsTakenlist %}
        data.addRow(['{{ year }}', {{ BT }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Proceeds From Borrowings Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Proceeds_from_Borrowings_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Repayment of Borrowings chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Repayment of Borrowings');

      {% for year, BR in BorrowingsRepaylist %}
        data.addRow(['{{ year }}', {{ BR }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Repayment of Borrowings Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Repayment_of_Borrowings_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Interest Paid chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Interest Paid');

      {% for year, IR in InterestRepaylist %}
        data.addRow(['{{ year }}', {{ IR }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Interest Paid Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Interest_Paid_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Dividends Paid chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Dividends Paid');

      {% for year, DP in DividendPaylist %}
        data.addRow(['{{ year }}', {{ DP }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Dividends Paid Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        colors: ["green"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Dividends_Paid_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Net Cash Flow chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Net Cash Flow');
      data.addColumn({type:'string', role:'style'});

      {% for year, NCF in NCFlist %}
        {% if NCF > 0 %}
            data.addRow(['{{ year }}', {{ NCF }}, "green"]);
        {% else %}
            data.addRow(['{{ year }}', {{ NCF }}, "red"]);
        {% endif %}
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2
                         ]);

      var options = {
        title: "Net Cash Flow Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Net_Cash_Flow_chart"));
      chart.draw(view, options);
  }
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg">
            <div id="CFO_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="CFI_chart" style="height: 500px;"></div>
        </div>
        <div class="col-md">
            <div id="CFF_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg">
            <div id="CFPS_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="CFO_growth_chart" style="height: 500px;"></div>
        </div>
        <div class="col-md">
            <div id="5yr_CFO_CAGR_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3">
            <div id="CFO_to_PAT_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Profit_From_Ops_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="WCC_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Taxes_Paid_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3">
            <div id="Fixed_Assets_Purchased_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Fixed_Assets_Sold_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Investments_Purchased_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Investments_Sold_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3">
            <div id="Proceeds_from_Borrowings_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Repayment_of_Borrowings_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Interest_Paid_chart" style="height: 500px;"></div>
        </div>
        <div class="col-sm-3">
            <div id="Dividends_Paid_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg">
            <div id="Net_Cash_Flow_chart" style="height: 500px;"></div>
        </div>
    </div>
</div>
{% endblock %}