{% extends 'base.html' %}

{% block chart-insert %}
<!-- Following is Dividend Payout chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Dividend Payout');

      {% for year, DP in DPlist %}
        data.addRow(['{{ year }}', {{ DP }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Dividend Payout Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("Dividend_Payout_chart"));
      chart.draw(view, options);
  }
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg">
            <div id="Dividend_Payout_chart" style="height: 500px;"></div>
        </div>
    </div>
</div>
{% endblock %}