{% extends 'base.html' %}

{% block chart-insert %}

<!-- Following is EPS chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'EPS');

      {% for year, EPS in EPSlist %}
        data.addRow(['{{ year }}', {{ EPS }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "EPS Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        color: ["gold"],
      };

      var chart = new google.visualization.ColumnChart(document.getElementById("EPS_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Sales chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Sales');

      {% for year, Sales in Saleslist %}
        data.addRow(['{{ year }}', {{ Sales }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Sales Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("sales_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Expenses chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Expenses');

      {% for year, Expenses in Expenseslist %}
        data.addRow(['{{ year }}', {{ Expenses }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Expenses Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("expenses_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Operating Profit chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Operating Profit');

      {% for year, Operating_Profit in OPlist %}
        data.addRow(['{{ year }}', {{ Operating_Profit }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Operating Profit Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("OP_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Other Income chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Other Income');

      {% for year, Other_Income in OIlist %}
        data.addRow(['{{ year }}', {{ Other_Income }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Other Income Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("OI_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is PBT chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'PBT');

      {% for year, PBT in PBTlist %}
        data.addRow(['{{ year }}', {{ PBT }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Profit Before Tax Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("PBT_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is PAT chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'PAT');

      {% for year, PAT in PATlist %}
        data.addRow(['{{ year }}', {{ PAT }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Profit After Tax Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "bottom" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("PAT_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Growth chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'YoY_Sales_Growth');
      data.addColumn('number', 'YoY_EPS_Growth');
      data.addColumn('number', 'YoY_Expenses_Growth');

      {% for year, YoY_Growth, EPS_Growth, Expenses_Growth in Growthlist %}
        data.addRow(['{{ year }}', {{ YoY_Growth }}, {{ EPS_Growth }}, {{ Expenses_Growth }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                       { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Company Performance',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
            color: ["blue", "gold", "red"]
        };

      var chart = new google.visualization.LineChart(document.getElementById('growth_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Sales 5yr CAGR chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', '5yr_Sales_CAGR');
      data.addColumn('number', '5yr_PAT_CAGR');

      {% for year, 5yr_Sales_CAGR, 5yr_PAT_CAGR in CAGRlist %}
        data.addRow(['{{ year }}', {{ 5yr_Sales_CAGR }}, {{ 5yr_PAT_CAGR }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Company Performance (5yr CAGR)',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('5yr_CAGR_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Cost Breakup chart -->
<script>
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Material Cost');
      data.addColumn('number', 'Employee Cost');
      data.addColumn('number', 'Manufacturing Cost');
      data.addColumn('number', 'Other Cost');

      {% for year, Material_Cost, Employee_Cost, Manufacturing_Cost, Other_Cost in Costlist %}
        data.addRow(['{{ year }}', {{ Material_Cost }}, {{ Employee_Cost }}, {{ Manufacturing_Cost }}, {{ Other_Cost }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                         { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                         { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                         4,
                         { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Cost Breakup',
            legend: { position: 'bottom' },
            vAxis: {title: 'Year'},
            hAxis: {title: 'Percentage'},
            isStacked: true,
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.BarChart(document.getElementById('cost_breakup_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is OPM chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'OPM');

      {% for year, OPM in OPMlist %}
        data.addRow(['{{ year }}', {{ OPM }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'OPM',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
            color: ["gold"],
        };

      var chart = new google.visualization.LineChart(document.getElementById('OPM_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is NPM chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'NPM');

      {% for year, NPM in NPMlist %}
        data.addRow(['{{ year }}', {{ NPM }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'NPM',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
            color: ["gold"],
        };

      var chart = new google.visualization.LineChart(document.getElementById('NPM_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Interest chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Interest');

      {% for year, Interest in Interestlist %}
        data.addRow(['{{ year }}', {{ Interest }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

      var options = {
        title: "Interest Payment Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
        color: ["red"],
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("interest_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Interest to Revenue chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Interest/Revenue');
      data.addColumn({type:'string', role:'style'});

      {% for year, Interest_to_Revenue in InterestToRevenuelist %}
        {% if Interest_to_Revenue > 0.1 %}
            data.addRow(['{{ year }}', {{ Interest_to_Revenue }}, "red"]);
        {% else %}
            data.addRow(['{{ year }}', {{ Interest_to_Revenue }}, "green"]);
        {% endif %}
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2
                         ]);

        var options = {
            title: 'Interest_to_Revenue',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Interest_to_Revenue_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Depreciation chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Depreciation');

      {% for year, Depreciation in Depreciationlist %}
        data.addRow(['{{ year }}', {{ Depreciation }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

      var options = {
        title: "Depreciation Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("depreciation_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Depreciation to Revenue chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Depreciation/Revenue');
      data.addColumn({type:'string', role:'style'});

      {% for year, Depreciation_to_Revenue in DepreciationToRevenuelist %}
        {% if Depreciation_to_Revenue > 0.1 %}
            data.addRow(['{{ year }}', {{ Depreciation_to_Revenue }}, "red"]);
        {% else %}
            data.addRow(['{{ year }}', {{ Depreciation_to_Revenue }}, "green"]);
        {% endif %}
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'Depreciation_to_Revenue',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Depreciation_to_Revenue_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Tax chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Year');
      data.addColumn('number', 'Tax');

      {% for year, Tax in Taxlist %}
        data.addRow(['{{ year }}', {{ Tax }}]);
      {% endfor %}

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'Tax',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Tax_chart'));

      chart.draw(view, options);
    }
</script>

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg">
            <div id="EPS_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4">
            <div id="sales_chart" style="height: 500px;"></div>
        </div>
        <div class="col-lg-4">
            <div id="expenses_chart" style="height: 500px;"></div>
        </div>
        <div class="col-lg-4">
            <div id="OP_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4">
            <div id="OI_chart" style="height: 500px;"></div>
        </div>
        <div class="col-lg-4">
            <div id="PBT_chart" style="height: 500px;"></div>
        </div>
        <div class="col-lg-4">
            <div id="PAT_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="growth_chart" style="height: 500px"></div>
        </div>
        <div class="col-md">
            <div id="5yr_CAGR_chart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg">
            <div id="cost_breakup_chart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="OPM_chart" style="height: 500px"></div>
        </div>
        <div class="col-md">
            <div id="NPM_chart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="interest_chart" style="height: 500px"></div>
        </div>
        <div class="col-md">
            <div id="Interest_to_Revenue_chart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="depreciation_chart" style="height: 500px"></div>
        </div>
        <div class="col-md">
            <div id="Depreciation_to_Revenue_chart" style="height: 500px"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <div id="Tax_chart" style="height: 500px"></div>
        </div>
    </div>
</div>

{% endblock %}