{% extends 'base.html' %}

{% block chart-insert %}
<!-- Following is EPS chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'EPS', { role: 'style' }],
          ['{{ dict.head.0 }}',  {{ dict.EPS.0 }}, "gold"],
          ['{{ dict.head.1 }}',  {{ dict.EPS.1 }}, "gold"],
          ['{{ dict.head.2 }}',  {{ dict.EPS.2 }}, "gold"],
          ['{{ dict.head.3 }}',  {{ dict.EPS.3 }}, "gold"],
          ['{{ dict.head.4 }}',  {{ dict.EPS.4 }}, "gold"],
          ['{{ dict.head.5 }}',  {{ dict.EPS.5 }}, "gold"],
          ['{{ dict.head.6 }}',  {{ dict.EPS.6 }}, "gold"],
          ['{{ dict.head.7 }}',  {{ dict.EPS.7 }}, "gold"]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2
                         ]);

      var options = {
        title: "EPS Chart",
        vAxis: {title: 'Rupees'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("EPS_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Income chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Operating Profit', 'Other Income', 'PBT', 'Net Profit'],
          ['{{ dict.head.0 }}',  {{ dict.Sales.0 }}, {{ dict.Expenses.0 }}, {{ dict.Operating_Profit.0 }}, {{ dict.Other_Income.0 }}, {{ dict.PBT.0 }}, {{ dict.PAT.0 }}],
          ['{{ dict.head.4 }}',  {{ dict.Sales.4 }}, {{ dict.Expenses.4 }}, {{ dict.Operating_Profit.4 }}, {{ dict.Other_Income.4 }}, {{ dict.PBT.4 }}, {{ dict.PAT.4 }}]
          ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                       3,
                       { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                       4,
                       { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                       5,
                       { calc: "stringify",
                         sourceColumn: 5,
                         type: "string",
                         role: "annotation" },
                       6,
                       { calc: "stringify",
                         sourceColumn: 6,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Income Chart-1",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("income_chart-1"));
      chart.draw(view, options);
  }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Operating Profit', 'Other Income', 'PBT', 'Net Profit'],
          ['{{ dict.head.1 }}',  {{ dict.Sales.1 }}, {{ dict.Expenses.1 }}, {{ dict.Operating_Profit.1 }}, {{ dict.Other_Income.1 }}, {{ dict.PBT.1 }}, {{ dict.PAT.1 }}],
          ['{{ dict.head.5 }}',  {{ dict.Sales.5 }}, {{ dict.Expenses.5 }}, {{ dict.Operating_Profit.5 }}, {{ dict.Other_Income.5 }}, {{ dict.PBT.5 }}, {{ dict.PAT.5 }}]
          ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                       3,
                       { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                       4,
                       { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                       5,
                       { calc: "stringify",
                         sourceColumn: 5,
                         type: "string",
                         role: "annotation" },
                       6,
                       { calc: "stringify",
                         sourceColumn: 6,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Income Chart-2",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("income_chart-2"));
      chart.draw(view, options);
  }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Operating Profit', 'Other Income', 'PBT', 'Net Profit'],
          ['{{ dict.head.2 }}',  {{ dict.Sales.2 }}, {{ dict.Expenses.2 }}, {{ dict.Operating_Profit.2 }}, {{ dict.Other_Income.2 }}, {{ dict.PBT.2 }}, {{ dict.PAT.2 }}],
          ['{{ dict.head.6 }}',  {{ dict.Sales.6 }}, {{ dict.Expenses.6 }}, {{ dict.Operating_Profit.6 }}, {{ dict.Other_Income.6 }}, {{ dict.PBT.6 }}, {{ dict.PAT.6 }}]
          ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                       3,
                       { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                       4,
                       { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                       5,
                       { calc: "stringify",
                         sourceColumn: 5,
                         type: "string",
                         role: "annotation" },
                       6,
                       { calc: "stringify",
                         sourceColumn: 6,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Income Chart-3",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("income_chart-3"));
      chart.draw(view, options);
  }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Operating Profit', 'Other Income', 'PBT', 'Net Profit'],
          ['{{ dict.head.3 }}',  {{ dict.Sales.3 }}, {{ dict.Expenses.3 }}, {{ dict.Operating_Profit.3 }}, {{ dict.Other_Income.3 }}, {{ dict.PBT.3 }}, {{ dict.PAT.3 }}],
          ['{{ dict.head.7 }}',  {{ dict.Sales.7 }}, {{ dict.Expenses.7 }}, {{ dict.Operating_Profit.7 }}, {{ dict.Other_Income.7 }}, {{ dict.PBT.7 }}, {{ dict.PAT.7 }}]
          ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                       3,
                       { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                       4,
                       { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                       5,
                       { calc: "stringify",
                         sourceColumn: 5,
                         type: "string",
                         role: "annotation" },
                       6,
                       { calc: "stringify",
                         sourceColumn: 6,
                         type: "string",
                         role: "annotation" },
                         ]);

      var options = {
        title: "Income Chart-4",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("income_chart-4"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Growth chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'YoY_Sales_Growth'],
          ['{{ dict.head.0 }}',  {{ dict.YoY_Growth.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.YoY_Growth.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.YoY_Growth.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.YoY_Growth.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.YoY_Growth.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.YoY_Growth.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.YoY_Growth.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.YoY_Growth.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Company Performance',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('growth_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Cost Breakup chart -->
<script>
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Material Cost', 'Employee Cost', 'Manufacturing Cost', 'Other Cost'],
          ['{{ dict.head.0 }}',  {{ dict.Material_Cost.0 }}, {{ dict.Employee_Cost.0 }}, {{ dict.Manufacturing_Cost.0 }}, {{ dict.Other_Cost.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Material_Cost.1 }}, {{ dict.Employee_Cost.1 }}, {{ dict.Manufacturing_Cost.1 }}, {{ dict.Other_Cost.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Material_Cost.2 }}, {{ dict.Employee_Cost.2 }}, {{ dict.Manufacturing_Cost.2 }}, {{ dict.Other_Cost.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Material_Cost.3 }}, {{ dict.Employee_Cost.3 }}, {{ dict.Manufacturing_Cost.3 }}, {{ dict.Other_Cost.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Material_Cost.4 }}, {{ dict.Employee_Cost.4 }}, {{ dict.Manufacturing_Cost.4 }}, {{ dict.Other_Cost.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Material_Cost.5 }}, {{ dict.Employee_Cost.5 }}, {{ dict.Manufacturing_Cost.5 }}, {{ dict.Other_Cost.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Material_Cost.6 }}, {{ dict.Employee_Cost.6 }}, {{ dict.Manufacturing_Cost.6 }}, {{ dict.Other_Cost.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Material_Cost.7 }}, {{ dict.Employee_Cost.7 }}, {{ dict.Manufacturing_Cost.7 }}, {{ dict.Other_Cost.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                         { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                         { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                         4,
                         { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Cost Breakup',
            legend: { position: 'bottom' },
            vAxis: {title: 'Year'},
            hAxis: {title: 'Percentage'},
            isStacked: true,
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.BarChart(document.getElementById('cost_breakup_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is OPM chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'OPM'],
          ['{{ dict.head.0 }}',  {{ dict.OPM.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.OPM.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.OPM.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.OPM.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.OPM.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.OPM.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.OPM.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.OPM.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'OPM',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('OPM_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Cost Breakup chart -->
<script>
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Material Cost', 'Employee Cost', 'Manufacturing Cost', 'Other Cost'],
          ['{{ dict.head.0 }}',  {{ dict.Material_Cost.0 }}, {{ dict.Employee_Cost.0 }}, {{ dict.Manufacturing_Cost.0 }}, {{ dict.Other_Cost.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Material_Cost.1 }}, {{ dict.Employee_Cost.1 }}, {{ dict.Manufacturing_Cost.1 }}, {{ dict.Other_Cost.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Material_Cost.2 }}, {{ dict.Employee_Cost.2 }}, {{ dict.Manufacturing_Cost.2 }}, {{ dict.Other_Cost.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Material_Cost.3 }}, {{ dict.Employee_Cost.3 }}, {{ dict.Manufacturing_Cost.3 }}, {{ dict.Other_Cost.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Material_Cost.4 }}, {{ dict.Employee_Cost.4 }}, {{ dict.Manufacturing_Cost.4 }}, {{ dict.Other_Cost.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Material_Cost.5 }}, {{ dict.Employee_Cost.5 }}, {{ dict.Manufacturing_Cost.5 }}, {{ dict.Other_Cost.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Material_Cost.6 }}, {{ dict.Employee_Cost.6 }}, {{ dict.Manufacturing_Cost.6 }}, {{ dict.Other_Cost.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Material_Cost.7 }}, {{ dict.Employee_Cost.7 }}, {{ dict.Manufacturing_Cost.7 }}, {{ dict.Other_Cost.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2,
                         { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                         { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" },
                         4,
                         { calc: "stringify",
                         sourceColumn: 4,
                         type: "string",
                         role: "annotation" },
                         ]);

        var options = {
            title: 'Cost Breakup',
            legend: { position: 'bottom' },
            vAxis: {title: 'Year'},
            hAxis: {title: 'Percentage'},
            isStacked: true,
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.BarChart(document.getElementById('cost_breakup_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Interest chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Interest'],
          ['{{ dict.head.0 }}',  {{ dict.Interest.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Interest.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Interest.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Interest.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Interest.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Interest.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Interest.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Interest.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

      var options = {
        title: "Interest Payment Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("interest_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Interest to Revenue chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Interest_to_Revenue'],
          ['{{ dict.head.0 }}',  {{ dict.Interest_to_Revenue.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Interest_to_Revenue.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Interest_to_Revenue.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Interest_to_Revenue.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Interest_to_Revenue.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Interest_to_Revenue.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Interest_to_Revenue.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Interest_to_Revenue.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'Interest_to_Revenue',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Interest_to_Revenue_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Depreciation chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['Year', 'Depreciation'],
          ['{{ dict.head.0 }}',  {{ dict.Depreciation.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Depreciation.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Depreciation.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Depreciation.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Depreciation.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Depreciation.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Depreciation.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Depreciation.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

      var options = {
        title: "Depreciation Chart",
        vAxis: {title: 'Rupees (Cr)'},
        hAxis: {title: 'Year'},
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: '#E4E4E4',
        is3D: true,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("depreciation_chart"));
      chart.draw(view, options);
  }
</script>

<!-- Following is Depreciation to Revenue chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Depreciation_to_Revenue'],
          ['{{ dict.head.0 }}',  {{ dict.Depreciation_to_Revenue.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Depreciation_to_Revenue.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Depreciation_to_Revenue.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Depreciation_to_Revenue.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Depreciation_to_Revenue.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Depreciation_to_Revenue.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Depreciation_to_Revenue.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Depreciation_to_Revenue.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'Depreciation_to_Revenue',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Depreciation_to_Revenue_chart'));

      chart.draw(view, options);
    }
</script>

<!-- Following is Tax chart -->
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Tax'],
          ['{{ dict.head.0 }}',  {{ dict.Tax.0 }}],
          ['{{ dict.head.1 }}',  {{ dict.Tax.1 }}],
          ['{{ dict.head.2 }}',  {{ dict.Tax.2 }}],
          ['{{ dict.head.3 }}',  {{ dict.Tax.3 }}],
          ['{{ dict.head.4 }}',  {{ dict.Tax.4 }}],
          ['{{ dict.head.5 }}',  {{ dict.Tax.5 }}],
          ['{{ dict.head.6 }}',  {{ dict.Tax.6 }}],
          ['{{ dict.head.7 }}',  {{ dict.Tax.7 }}]
        ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                         ]);

        var options = {
            title: 'Tax',
            legend: { position: 'bottom' },
            vAxis: {title: 'Percentage'},
            hAxis: {title: 'Year'},
            backgroundColor: '#E4E4E4',
            is3D: true,
        };

      var chart = new google.visualization.LineChart(document.getElementById('Tax_chart'));

      chart.draw(view, options);
    }
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg">
            <div id="EPS_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <div id="income_chart-1" style="height: 500px;"></div>
        </div>
        <div class="col-sm">
            <div id="income_chart-2" style="height: 500px;"></div>
        </div>
        <div class="col-sm">
            <div id="income_chart-3" style="height: 500px;"></div>
        </div>
        <div class="col-sm">
            <div id="income_chart-4" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="growth_chart" style="height: 500px;"></div>
        </div>
        <div class="col-md">
            <div id="OPM_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg">
            <div id="cost_breakup_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="interest_chart" style="height: 500px;"></div>
        </div>
        <div class="col-md">
            <div id="Interest_to_Revenue_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md">
            <div id="depreciation_chart" style="height: 500px;"></div>
        </div>
        <div class="col-md">
            <div id="Depreciation_to_Revenue_chart" style="height: 500px;"></div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm">
            <div id="Tax_chart" style="height: 500px;"></div>
        </div>
    </div>
</div>
{% endblock %}